:root {
    --width: 320px;
  }

.container {
    display: flex;
    flex-direction: row;
    max-width: var(--width);
    gap: 0.25em;
}

#result-msg p, #score-container {
    display: flex;
    margin: 0 0;
    max-width: var(--width);
    & span {
        width: 100%;
    }
}

.btn, .reset-btn {
    flex: 1;
    margin: auto;
    max-width: calc(var(--width) / 3);
}

#winner-msg {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--width);
    width: 100%;
    & .computer-winner {
        grid-column-start: 2;
    }
    
    & .user-winner {
        grid-column-start: 1;
    }
}


.score {
    display: flex;
    width: 100%;
    margin: 0;
    gap: 0.25em;
    & h3, p {
        font-size: 1.17em;
        margin: 1em 0 0;
    }
}

.hidden {
    display: none;
    visibility: hidden;
}